.light {
    --bg-color: #9d9d9d;
    --inverted-bg-color: #090949;
    --primary-color: #963e04;
    --secondary-color: #ffde04;
    --inverted-primary-color: #8502c2;
    --inverted-secondary-color: #ff2bf8;
}
